
<div class="row">
	<div class="col s10 offset-s1">
		<div class="card ise-cool-gray">
            <div class="card-content">
				<ul>
					<li><h5>The conference was fun & exciting</h5></li>
					<li><h5>We shared intelligent conversations with many new people</h5></li>
					<li><h5>We learned tons of info</h5></li>
					<li><h5>....which we packaged into our biggest takeaways</h5></li>
				</ul>
			</div>
		</div>
	</div>	
</div>