<img src="/images/LoganAndMalik.png" class="bg-image" />
<!-- Ummmm.... how to CSS this stuff? -->
<div style="margin:3em">
	<h3>Tech Startups are not just in the valley</h3>
	<ul>
		<li>Why does a startup need to be in San Francisco?</li>
		<li>People from all over were at the conference</li>
		<li>Communities of innovation all over - including our own!</li>
		<li>ISE is strategically near major markets: Chicago, Minneapolis, Kansas City, Des Moines</li>
	</ul>
</div>