<!-- Ummmm.... how to CSS this stuff? -->
<div style="margin:3em">
	<h3>designers and developers living together?!</h3>
	<ul>
		<li>Conference was equally people from design and dev backgrounds - both are essential!</li>
		<li>Though most devs know a little design and vice versa, multiple perspectives valuable</li>
		<li>In offices often natural tendency is to segregate - don't!</li>
		<li>Make diverse scrum teams with design &amp; development backgrounds</li>
		<li>Creates constant communication and pairing between designers and developers</li>
		<li>Gives everyone more opportunity to learn from each other</li>
		<li>Everyone will begin to naturally consider design challenges when developing and vice versa</li>
	</ul>
</div>