<!-- Ummmm.... how to CSS this stuff? -->
<div style="margin:3em">
	<h3>Lean Startup is for much more than startups</h3>
	<ul>
		<li>A startup is <em>"an organization dedicated to creating something new under conditions of extreme uncertainty"</em></li>
		<li>This is pretty much any software team ever!</li>
		<li>Build, Measure, Learn cycle</li>
		<li>Value Hypothesis (People will use this product because ___.)</li>
		<li>Growth Hypothesis (People will find the product by ___.)</li>
		<li>Minimum Viable Product (MVP) - a polished but minimal feature set to get into the hands of users ASAP.</li>
		<li>Success Metrics - what data can we gather to know for sure if we have succeeded or not?</li>
		<li>Experiment on your users - a/b tests determine effects of changes on user behavior</li>
		<li>Periodically decide to persevere or pivot</li>
	</ul>
</div>