<img src="/images/hillTower.JPG" class="bg-image" style="width: 100%" />
<div class="row">
	<div class="col s10 offset-s1">
		<div class="card ise-purple">
            <div class="card-content cool-gray-text">
				<h3>Lean Startup is for much more than startups</h3>
				<ul>
					<li><h5>A startup is <em>"an organization dedicated to creating something new under conditions of extreme uncertainty"</em></h5></li>
					<li><h5>Build, Measure, Learn cycle</h5></li>
					<li><h5>Value &amp; Growth Hypothesis</h5></li>
					<li><h5>Minimum Viable Product (MVP)</h5></li>
					<li><h5>Success Metrics</h5></li>
					<li><h5>Experiment on your users - a/b tests</h5></li>
					<li><h5>Persevere or pivot?</h5></li>
				</ul>
			</div>
		</div>
	</div>
</div>