<!-- Ummmm.... how to CSS this stuff? -->
<div class="row">
	<div class="col s10 offset-s1 center-align">
		<h3></h3>
		<ul>
			<li><a href="https://intranet.iseinc.biz:8443/confluence/pages/viewpage.action?pageId=30638184" class="waves-effect ise-gray" style="height: 100px;width:100%"><h5 style="padding:30px;">Clay's Full Writeup</h5></a></li>
			<br>
			<li><a href="https://intranet.iseinc.biz:8443/confluence/pages/viewpage.action?pageId=31653910" class="waves-effect ise-gray" style="height: 100px;width:100%"><h5 style="padding:30px;">Zach's Full Writeup</h5></a></li>
			<br>
			<li><a href="https://github.com/zbodie/9-Trends-From-Mobile-Web-DevCon" class="waves-effect ise-gray" style="height: 100px;width:100%"><h5 style="padding:30px;">Link to Slides</h5></a></li>
		</ul>
	</div>
</div>