<img src="/images/LoganAndMalik.png" class="bg-image" />
<!-- Ummmm.... how to CSS this stuff? -->
<div class="row">
	<div class="col s12">
		<div class="card light-green lighten-4">
			<div class="card-content grey-text text-darken-3">
				<span class="card-title grey-text text-darken-3">Tech Startups are not just in the valley</span>
				<ul>
					<li>Why does a startup need to be in San Francisco?</li>
					<li>People from all over were at the conference</li>
					<li>Communities of innovation all over - including our own!</li>
					<li>ISE is strategically near major markets: Chicago, Minneapolis, Kansas City, Des Moines</li>
				</ul>
			</div>
		</div>
	</div>
</div>