<img src="/images/requiredpic.JPG" class="bg-image" style="width: 100%" />
<div class="row">
	<div class="col s10 offset-s1">
		<div class="card ise-mango">
            <div class="card-content gray-text">
				<h3>designers and developers living together?!</h3>
				<ul>
					<li><h5>Designers and Devs - both are essential!</h5></li>
					<li><h5>Multiple perspectives valuable</h5></li>
					<li><h5>Natural tendency is to segregate - don't!</h5></li>
					<li><h5>Diverse scrum teams with design &amp; development backgrounds</h5></li>
					<li><h5>Constant communication and pairing</h5></li>
					<li><h5>Learn from each other</h5></li>
				</ul>
			</div>
		</div>
	</div>
</div>