<!-- Ummmm.... how to CSS this stuff? -->
<div class="row">
	<div class="col s10 offset-s1">
		<div class="card ise-purple">
            <div class="card-content cool-gray-text">
				<h3>Features should not be driving a product, users/UX should be</h3>
				<ul>
					<li><h5>Give the user what they want & need</h5></li>
					<li><h5>Packing a product full of features will not garner users</h5></li>
					<li><h5>Perform market research</h5></li>
					<li><h5>Address user feedback</h5></li>
					<li><h5>Clean up your UI</h5></li>
					<li><h5>....and most importantly, keep it responsive</h5></li>
				</ul>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">UI Responsiveness Table<i class="material-icons right">close</i></span>
				<table class="striped" style="margin-top: 20px;">
					<thead>
						<tr>
							<td>Delay</td>
							<td>What is running through the user's mind</td>
						</tr>
					</thead>
						<tr>
							<td>&lt; 100ms</td>
							<td>Wow, this app is responding instantly.</td>
						</tr>
						<tr>
							<td>100ms to 1 sec</td>
							<td>Hmm, just a bit of a lag here. However, my train of thought is still intact.</td>
						</tr>
						<tr>
							<td>1 sec to 10 sec</td>
							<td>OK, now I am kind of annoyed. I wonder if there is a quicker app for this.......</td>
						</tr>
						<tr>
							<td>&gt; 10 sec</td>
							<td>Yeeeaaahhh, this app is crap.</td>
						</tr>
					<tbody>
					</tbody>
				</table>
			</div>
            <div class="card-action">
				<a id="load-button" class="btn-large ise-gray ise-mango-text">Load</a>
				
				<i class="material-icons right cool-gray-text activator" style="cursor:pointer;">more_vert</i>
				<div class="progress teal lighten-4" style="margin-top: 30px; visibility:hidden;">
					<div class="indeterminate teal"></div>
				</div>
			</div>
		</div>
	</div>	
</div>

<script>
$('#load-button').mouseup(function(event) {
	event.stopPropagation();
	$('.progress').css('visibility', 'visible');
});
$('i').mouseup(function(event) {
	event.stopPropagation();
});
</script>