<img src="/images/chinatown.JPG" class="bg-image" />
<div class="row">
	<div class="col s10 offset-s1">
		<div class="card ise-blue">
            <div class="card-content cool-gray-text">
				<h3>Moving Outside the Phone</h3>
				<ul>
					<li><h5>Cutting edge developments are no longer in phones and apps</h5></li>
					<li><h5>Wearables and the Internet of Things (IoT) are growth areas</h5></li>
					<li><h5>Personal health devices</h5></li>
					<li><h5>Beacons - find lost items, museums, shelf stocking</h5></li>
					<li><h5>IoT - home automation, cities, businesses, etc.</h5></li>
				</ul>
			</div>
		</div>
	</div>
</div>