<!-- Ummmm.... how to CSS this stuff? -->
<div style="margin:3em">
	<h3>Moving Outside the Phone</h3>
	<ul>
		<li>Cutting edge developments are no longer in phones and apps</li>
		<li>Wearables and the Internet of Things (IoT) are growth areas</li>
		<li>This means there are a lot of failures while creators learn more about what users want</li>
		<li>Personal health devices are gathering a lot of data on people...</li>
		<li>Beacons can be used for: finding lost items, interactive content in museums, shelf stocking...</li>
		<li>IoT is connected devices interacting with you and each other in homes, businesses, cities, etc</li>
	</ul>
</div>