<img src="/images/distantGoldenGate.JPG" class="bg-image" />
<div class="row">
	<div class="col s10 offset-s1">
		<div class="card ise-green">
            <div class="card-content gray-text">
				<h2>We aren't exactly far behind <small style="font-size: 50%;">(and in many cases we aren't behind at all)</small></h2>
				<ul>
					<li><h5>People from all over US & World attended the conference</h5></li>
					<li><h5>Companies of all shapes & sizes sent attendees</h5></li>
					<li><h5>A lot of companies are in the same spot as us</h5></li>
					<li><h5>The market for custom mobile applications is still ripe</h5></li>
				</ul>
			</div>
		</div>
	</div>	
</div>